RewriteEngine on

# Чтобы убрать .html(при .php поменять на него):
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# Переименовать страницу
RewriteRule    ^home/?$    index.html    [NC,L]