/*cheatSheets.css(Старый css)*/

:root{
    --black: #000000;
    --grey: #f5f0f0;
    --while: #ffffff;
    --red: #f5350e;
    --red-yellow: #886A3C;
    --green: #2AA17D;

} /*Переменная с палитрой*/

h1 {text-align: center; /*Выравнивание текста*/
    font-size: 32px; /* Размер шрифта */
    line-height: 28px; /* Между строчное растояние */
    margin: 28px 15px 28px 15px; /*Внешнии отступы*/
    box-sizing: border-box; /*Не дает ребенку выылезать за границы родителя*/
    /*white-space: nowrap;*/
}

h2, h3, h4 {text-shadow: 1px 2px 5px var(--green); /*Тень*/

} /*Заголовки*/

dt a {text-shadow: 1px 2px 5px var(--green); /*Тень*/
    font-size: 24px; /* Размер шрифта */
    font-weight: 700; /* Насыщеновсть(толщина) шрифта */
    text-decoration: none; /*Убираем подчеркивание*/
    color: var(--black); /*Цвет текста*/
    padding: 2px; /*Внутренние отступы*/

} /*Ссылки*/


a:hover {font-size: 28px; /* Размер шрифта */
    transition: all .3s; /*Анимация*/
    color: var(--red); /*Цвет текста*/
    cursor: pointer; /*Курсор*/

  } /*Ссылки при наведении*/

dd, p, ol, li, ul, pre {font-size: 18px; /* Размер шрифта */
    font-weight: 500; /* Насыщеновсть(толщина) шрифта */
    text-decoration: none; /*Убираем подчеркивание*/
    color: var(--black); /*Цвет текста*/
    text-shadow: 1px 2px 5px var(--red-yellow); /*Тень*/
    padding: 4px; /*Внутренние отступы*/

} /*Определения*/

body {width: 100%; /*Устанавливает ширину содержимого элемента*/
    margin: 0; /*Внешнии отступы*/
    padding: 0; /*Внутренние отступы*/
    font-family: sans-serif; /*Семейство шрифтов*/
    min-width: 320px; /*Минимальная ширина*/
    
} /*Тело*/

.home, .name {
    width: 100%; /*Устанавливает ширину содержимого элемента*/
    display: flex; /*Определяет как элемент должен быть показан в документе*/
    justify-content: space-between; /*Выравнивает флекс-элементы внутри контейнера по горизонтали*/
    align-items: center; /*Выравнивает флекс-элементы внутри контейнера по вертикали*/
    box-sizing: border-box; /*Не дает ребенку выылезать за границы родителя*/
} /*Блоки бара дочерней страницы, разводим кнопку назад и название*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Шапка */

.nav {width: 100%; /*Устанавливает ширину содержимого элемента*/
    display: block; /*Определяет как элемент должен быть показан в документе*/
    background: url(images/nav2.png) center no-repeat; /*Установит фон элемента*/
    background-size: cover; /*Растянет фон по размеру контейнера*/
    top: 0; /*Вверх*/
    position: fixed; /*Фиксирует блок относительно экрана*/
    box-sizing: border-box; /*Не дает ребенку выылезать за границы родителя*/

} /*Тело шапка*/

.con_nav {width: 90%; /*Устанавливает ширину содержимого элемента*/
    display: flex; /*Определяет как элемент должен быть показан в документе*/
    color: var(--while); /* Цвет текста */
    margin: 0 5% 0 5%; /*Внешние отступы*/
    justify-content: center; /*Выравнивает флекс-элементы внутри контейнера по горизонтали*/
    box-sizing: border-box; /*Не дает ребенку выылезать за границы родителя*/

} /*Контейнер шапка*/


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Список */

.fon_content {width: 100%; /*Устанавливает ширину содержимого элемента*/
    min-height: 100vh; /*Высота во весь экран*/
    display: block; /*Определяет как элемент должен быть показан в документе*/
    background-repeat: no-repeat;
    background: linear-gradient(90deg, #ffffff, #d1d0d0); /*Установит фон элемента*/
    background-size: cover; /*Растянет фон по размеру контейнера*/
    margin-top: 84px; /*Внешний отступ сверху из за закрепленной шапки*/
    box-sizing: border-box; /*Не дает ребенку выылезать за границы родителя*/

} /*Тело список*/

.con_content {width: 90%; /*Устанавливает ширину содержимого элемента*/
    padding: 33px 5px; /*Внутрений отступ*/
    margin: 0 5% 0 5%; /*Внешние отступы*/
    justify-content: center; /*Выравнивает флекс-элементы внутри контейнера по горизонтали*/
    box-sizing: border-box; /*Не дает ребенку выылезать за границы родителя*/

} /*Контейнер список*/

.con_img {width: 80%;/*Устанавливает ширину содержимого элемента*/
    margin: 0 10% 0 10%; /*Внешние отступы*/
    box-sizing: border-box; /*Не дает ребенку выылезать за границы родителя*/

} /*Контейнер с картинкой*/

.img {width: 80%;/*Устанавливает ширину содержимого элемента*/
    margin: 0 10% 0 10%; /*Внешние отступы*/

} /*Картинка с таблицами*/
