/*cheatSheets.css(Старый css)*/

dt a {text-shadow: 1px 2px 5px var(--green); /*Тень*/
    font-size: 24px; /* Размер шрифта */
    font-weight: 700; /* Насыщеновсть(толщина) шрифта */
    text-decoration: none; /*Убираем подчеркивание*/
    color: var(--black); /*Цвет текста*/
    padding: 2px; /*Внутренние отступы*/

} /*Ссылки*/


a:hover {font-size: 28px; /* Размер шрифта */
    transition: all .3s; /*Анимация*/
    color: var(--red); /*Цвет текста*/
    cursor: pointer; /*Курсор*/

  } /*Ссылки при наведении*/

dd, p, ol, li, ul, pre {font-size: 18px; /* Размер шрифта */
    font-weight: 500; /* Насыщеновсть(толщина) шрифта */
    text-decoration: none; /*Убираем подчеркивание*/
    color: var(--black); /*Цвет текста*/
    text-shadow: 1px 2px 5px var(--red-yellow); /*Тень*/
    padding: 4px; /*Внутренние отступы*/

} /*Определения*/

.home, .name {
    width: 100%; /*Устанавливает ширину содержимого элемента*/
    display: flex; /*Определяет как элемент должен быть показан в документе*/
    justify-content: space-between; /*Выравнивает флекс-элементы внутри контейнера по горизонтали*/
    align-items: center; /*Выравнивает флекс-элементы внутри контейнера по вертикали*/
    box-sizing: border-box; /*Не дает ребенку выылезать за границы родителя*/
} /*Блоки бара дочерней страницы, разводим кнопку назад и название*/


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Список */

.fon_content {width: 100%; /*Устанавливает ширину содержимого элемента*/
    min-height: 100vh; /*Высота во весь экран*/
    display: block; /*Определяет как элемент должен быть показан в документе*/
    background-repeat: no-repeat;
    background: linear-gradient(90deg, #ffffff, #d1d0d0); /*Установит фон элемента*/
    background-size: cover; /*Растянет фон по размеру контейнера*/
    box-sizing: border-box; /*Не дает ребенку выылезать за границы родителя*/

} /*Тело список*/

.con_content {width: 90%; /*Устанавливает ширину содержимого элемента*/
    padding: 33px 5px; /*Внутрений отступ*/
    margin: 0 5% 0 5%; /*Внешние отступы*/
    justify-content: center; /*Выравнивает флекс-элементы внутри контейнера по горизонтали*/
    box-sizing: border-box; /*Не дает ребенку выылезать за границы родителя*/

} /*Контейнер список*/

.con_img {width: 80%;/*Устанавливает ширину содержимого элемента*/
    margin: 0 10% 0 10%; /*Внешние отступы*/
    box-sizing: border-box; /*Не дает ребенку выылезать за границы родителя*/

} /*Контейнер с картинкой*/

.img {width: 80%;/*Устанавливает ширину содержимого элемента*/
    margin: 0 10% 0 10%; /*Внешние отступы*/

} /*Картинка с таблицами*/
