<!--cheatSheets_types_of_testing.html-->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Виды тестирования</title>
    <link type="image/png" sizes="16x16" rel="icon" href="../images/icon.png" />

    <link rel="stylesheet" href="../style.css" />

    <script type="text/javascript" src="../js/jquery-3.6.3.min.js"></script>
    <script type="module" src="../js/main.js"></script>
  </head>
  <body>
    <header id="header_pages" class="header"></header>
    <!-- Шапка -->

    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- Список -->

    <div class="fon_content">
      <div class="con_content">
        <h2>Виды тестирования :</h2>

        <ul>
          <li><b>Функциональные</b> (проверяем как работает)</li>
          <li><b>Нефункциональные</b> (проверяем характеристики)</li>
          <li>
            <b>Связанные с изменениями</b> (проверяем как ведёт себя система
            после внесения изменений, т.е. после того, как внесли изменения в
            код)
          </li>
        </ul>
        <hr />

        <h3>Функциональные виды тестирования</h3>

        <p>
          <b>Функциональные тесты</b> базируются на функциях и особенностях, а
          также взаимодействии с другими системами, и могут быть представлены на
          всех уровнях тестирования: компонентном или модульном, интеграционном,
          системном и приемочном. Также к функциональному тестированию относится
          тестирование безопасности.
        </p>

        <h4>Уровни Тестирования :</h4>

        <ul>
          <li><b>Модульное тестирование</b></li>
          <li><b>Интеграционное тестирование</b></li>
          <li><b>Системное тестирование</b></li>
          <li><b>Приемочное тестирование</b></li>
        </ul>

        <ol>
          <li>
            <b>Модульное тестирование</b> -
            <i>Компонентное(модульное)</i> тестирование проверяет
            функциональность и ищет дефекты в частях приложения, которые
            доступны и могут быть протестированы по-отдельности.<br />
            (Модули - это части нашего приложения, такие как: аватар,
            комментарий, сообщение, лайк и т.д. Приложение состоит из кучи
            модулей. Модули можно представить как пазлы)
          </li>
          <li>
            <b>Интеграционное тестирование</b> - Проверяем взаимодействие между
            компонентами внутри системы, так и со сторонними системами(другими
            сайтами):<br />
            Список больниц определяется выбранным диагнозом на предыдущей
            вкладке(интеграция между компонентами системы).<br />
            Расположение больницы на карте(интеграция с Яндекс-картой).<br />
            Курсы валют на главной странице Яндекса(интеграция с биржей).<br />
            Интеграцию между компонентами можно представить как несколько
            пазлов, образующих какую-то картинку.
          </li>
          <li>
            <b>Системное тестирование</b> - Это тестирование программного
            обеспечения выполняемое на полной, интегрированной системе, с целью
            проверки соответствия системы исходным требованиям, как
            функциональным, так и не функциональным.<br />
            При этом выявляются дефекты, такие как неверное использование
            ресурсов системы, несовместимость с окружением, отсутствующая или
            неверная функциональность, неудобство использования и т.д.
            (Системное тестирование - это когда все пазлы собраны в единое
            целое).
          </li>
          <li>
            <b>Приемочное тестирование</b> - Формальный процесс тестирования,
            который проверяет соответствие системы требованиям и проводится с
            целью:<br />
            • определения удовлетворяет ли система приемочным критериям;<br />
            • вынесения решения заказчиком или другим уполномоченным лицом
            принимается приложение или нет.<br />
            Это финальный этап тестирования продукта перед его релизом. При
            этом, он не является сверх тщательным – тестируется, в основном,
            только основной функционал.
          </li>
        </ol>

        <p>
          <b>Тестирование безопасности</b> - это стратегия тестирования,
          используемая для проверки безопасности системы.
        </p>
        <hr />

        <h3>Нефункциональные виды тестирования</h3>

        <p>
          <b>Нефункциональное тестирование</b> описывает тесты, необходимые для
          определения характеристик программного обеспечения, которые могут быть
          измерены различными величинами. В целом, это тестирование того, "Как"
          система работает.
        </p>

        <h4>Виды нефункциональных тестов :</h4>

        <ol>
          <li>
            <b>Все виды тестирования производительности :</b>

            <ul>
              <li>
                <b>Нагрузочное тестирование</b> — это автоматизированное
                тестирование, имитирующее работу определенного количества
                пользователей на каком-либо ресурсе.
              </li>
              <li>
                <b>Стрессовое тестирование</b> - позволяет проверить насколько
                приложение и система в целом работоспособны в условиях стресса,
                т.е. повышение интенсивности выполнения операций до очень
                высоких значений или аварийное изменение конфигурации сервера.
              </li>
              <li>
                <b>Тестирование стабильности или надежности</b> - проверка
                работоспособности приложения при длительном тестировании со
                средним уровнем нагрузки.
              </li>
            </ul>
          </li>
          <li>
            <b>Тестирование на отказ и восстановление</b> - проверяет
            тестируемый продукт с точки зрения способности противостоять и
            успешно восстанавливаться после возможных сбоев, возникших в связи с
            ошибками программного обеспечения, отказами оборудования или
            проблемами связи (например, отказ сети)
          </li>
          <li>
            <b
              >Тестирование пользовательского интерфейса(UI - User Interface)</b
            >
            - соответствие интерфейса приложения(сайта), которые сделал
            разработчик макетам, сделанным дизайнером интерфейсов
          </li>
          <li>
            <b>Тестирование удобства пользования(UX - User Experience)</b> -
            характеризует систему с точки зрения удобства использования
            конечного пользователя.<br />
            Это метод тестирования, направленный на установление степени
            удобства использования, понятности и привлекательности для
            пользователей разрабатываемого продукта в контексте заданных
            условий.
          </li>
        </ol>
        <hr />

        <h3>Связанные с изменениями виды тестирования</h3>

        <p>
          <b>Связанные с изменениями виды тестирования</b> - после проведения
          необходимых изменений, таких как исправление бага/дефекта, программное
          обеспечение должно быть пере тестировано для подтверждения того факта,
          что проблема была действительно решена.
        </p>

        <h4>К связанным с изменениями относятся :</h4>

        <ul>
          <li><b>Дымовое(Smoke) тестирование</b></li>
          <li><b>Санитарное тестирование</b></li>
          <li><b>Регрессионное тестирование</b></li>
        </ul>

        <ol>
          <li>
            <b>Дымовое(Smoke) тестирование</b> рассматривается как короткий цикл
            тестов, выполняемый для подтверждения того, что после сборки кода
            (нового или исправленного) устанавливаемое приложение, стартует и
            выполняет основные функции.<br />
            Вывод о работоспособности основных функций делается на основании
            результатов поверхностного тестирования наиболее важных модулей
            приложения на предмет возможности выполнения требуемых задач и
            наличия быстро находимых критических и блокирующих дефектов. В
            случае отсутствия таковых дефектов дымовое тестирование объявляется
            пройденным, и приложение передается для проведения полного цикла
            тестирования, в противном случае, дымовое тестирование объявляется
            проваленным, и приложение уходит на доработку.<br />
            Для облегчения работы, экономии времени и человеческих ресурсов
            используется автоматизация тестовых сценариев для дымового
            тестирования. (Проверяются наиболее важные модули, например,
            регистрация, авторизация, поиск, подписка, загрузка аватара,
            отправление сообщений, лайк, комментарий и т.п. Проверяем на предмет
            работы используя позитивные проверки, т.е. действуя по
            требованиям(если в требованиях написано, что на аватар можно
            загрузить картинку не более 10 Мб, то мы грузим картинку не более 10
            Мб и выполняем проверку следующего модуля)).
          </li>
          <li>
            <b>Санитарное тестирование</b> — это узконаправленное тестирование
            достаточное для доказательства того, что конкретная функция работает
            согласно заявленным в спецификации требованиям. Используется для
            определения работоспособности определенной части приложения после
            изменений, произведенных в ней или окружающей среде. Обычно
            выполняется вручную.<br />
            (Т.е. мы концентрируемся на одном компоненте и тестируем только его,
            например, проверяем только аватар. По требованиям на аватар можно
            загрузить изображение не более 10 Мб. Сначала мы грузим картинку png
            не более 10 Мб и убеждаемся что она загрузилась. Далее картинку jpeg
            не более 10 Мб и убеждаемся что и она загрузилась. Далее картинку
            более 10 Мб и убеждаемся что она не загрузится. После грузим
            отличные от картинки файлы: docx, gif, mp3 и т.д.)<br /><br />
            <b>Отличие санитарного тестирования от дымового</b><br />
            Эти виды тестирования имеют "вектора движения", направления в разные
            стороны. В отличии от дымового, санитарное тестирование направлено
            вглубь проверяемой функции(т.е. мы концентрируемся на одном
            компоненте и тестируем только его), в то время как дымовое
            направлено вширь(т.е. мы проверяем различные компоненты: ,
            регистрация, авторизация, поиск, подписка, загрузка аватара,
            отправление сообщений, лайк, комментарий и т.п.)
          </li>
          <li>
            <b>Регрессионное тестирование</b> — это вид тестирования,
            направленный на проверку изменений, сделанных в приложении, для
            подтверждения того факта, что существующая ранее функциональность
            работает, как и прежде.<br />
            Таким образом, мы можем сказать, что цель регрессионного
            тестирования – убедиться, что исправление одних багов не стало
            причиной возникновения других и что внесение изменений в код не
            создало новых дефектов в уже проверенном коде.<br />
            Как правило, для регрессионного тестирования используются
            тест-кейсы, написанные на ранних стадиях разработки и тестирования.
            Это дает гарантию того, что изменения в новой версии приложения не
            повредили уже существующую функциональность. Рекомендуется делать
            автоматизацию регрессионных тестов, для ускорения последующего
            процесса тестирования и обнаружения дефектов на ранних стадиях
            разработки программного обеспечения.<br /><br />
            Хорошей практикой является выбор таких тестов для регрессионного
            тестирования:<br />
            - проверяющие часто используемые функции,<br />
            - проверяющие основные функций приложения,<br />
            - проверяющие функции, которые затронули недавние изменения в
            коде,<br />
            - проверяющие граничные значения.
          </li>
        </ol>
        <hr />

        <h2>Методики тестирования</h2>

        <ul>
          <li>
            <b>Black-box(Чёрный ящик)</b>Проверка «черного ящика» – это метод
            тестирования программного обеспечения, при котором функциональность
            исследуется без рассмотрения кода, деталей реализации и знаний о
            внутреннем устройстве программного обеспечения.<br />
            При данной стратегии тестировщик осуществляет проверку продукта, не
            имея информации об особенностях его реализации, используя только
            интерфейс. Метод имитирует поведение пользователя, у которого нет
            никаких знаний о внутреннем устройстве программы.
          </li>
          <li>
            <b>White-box(Белый ящик)</b>Проверка «белого ящика» – это метод
            тестирования программного обеспечения, который предполагает, что
            внутренняя структура, устройство и реализация системы известны
            тестировщику.<br />
            Тестировщик имеет доступ к реализованному коду, тестовой
            документации, изучает их и получает всю необходимую информацию, как
            должен работать продукт. Как правило, таким видом тестирования на
            проектах занимаются сами программисты.
          </li>
          <li>
            <b>Gray-box(Серый ящик)</b>Проверка «серого ящика» – это метод
            тестирования программного продукта или приложения с частичным
            знанием его внутреннего устройства. Для выполнения тестирования
            «серого ящика» нет необходимости в доступе тестировщика к исходному
            коду. Тесты пишутся на основе знания алгоритма, архитектуры,
            внутренних состояний или других высокоуровневых описаний поведения
            программы.
          </li>
        </ul>
      </div>
    </div>

    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <footer id="footer_pages" class="footer"></footer>
    <!-- Подвал -->
  </body>
</html>
