<!--cheatSheets_block.html-->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Блок-схема</title>
    <link type="image/png" sizes="16x16" rel="icon" href="../images/icon.png" />

    <link rel="stylesheet" href="../style.css" />

    <script type="text/javascript" src="../js/jquery-3.6.3.min.js"></script>
    <script type="module" src="../js/main.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>

    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- Список -->

    <div class="fon_content">
      <div class="con_content">
        <h2>Блок-схема</h2>

        <p>
          — распространённый тип схем (графических моделей), описывающих
          алгоритмы или процессы, в которых отдельные шаги изображаются в виде
          блоков различной формы, соединённых между собой линиями, указывающими
          направление последовательности.
        </p>

        <div class="con_img">
          <img src="../images/block.png" class="img" />
        </div>
      </div>
    </div>

    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <footer id="footer" class="footer"></footer>
  </body>
</html>
