<!--cheatSheets_html.html-->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Модели разработки</title>
    <link type="image/png" sizes="16x16" rel="icon" href="../images/icon.png" />

    <link rel="stylesheet" href="../style.css" />

    <script type="text/javascript" src="../js/jquery-3.6.3.min.js"></script>
    <script type="module" src="../js/main.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>
    <!-- &lt; &nbsp; &gt; -->
    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- Список -->

    <div class="fon_content">
      <div class="con_content">
        <p>
          <b>Тестирование программного обеспечения</b> - проверка соответствия
          между реальным и ожидаемым поведением программы, осуществляемая на
          конечном наборе тестов.<br /><br />
          <b>Водопадная</b> или <b>каскадная</b> модель разработки программного
          обеспечения (waterfall, водопад) — это процесс разработки, в котором
          последовательно проходят фазы сбора и анализа требований,
          проектирования и прототипирования, реализации, тестирования,
          интеграции и поддержки.<br /><br />
          <b>Agile</b> – это семейство «гибких» подходов к разработке
          программного обеспечения.<br /><br />
          Смысл Agile разработки ПО: «Люди и взаимодействие важнее процессов и
          инструментов. Работающий продукт важнее исчерпывающей документации.
          Сотрудничество с заказчиком важнее согласования условий контракта.
          Готовность к изменениям важнее следования первоначальному плану».<br /><br />
          <b>Scrum</b> – это «подход структуры». Над каждым проектом работает
          универсальная команда специалистов, к которой присоединяется еще два
          человека: владелец продукта и scrum-мастер. Первый соединяет команду с
          заказчиком и следит за развитием проекта; это не формальный
          руководитель команды, а скорее куратор. Второй помогает первому
          организовать бизнес-процесс: проводит общие собрания, решает бытовые
          проблемы, мотивирует команду и следит за соблюдением scrum-подхода.<br /><br />
          Scrum-подход делит рабочий процесс на равные спринты – обычно это
          периоды от недели до месяца, в зависимости от проекта и команды. Перед
          спринтом формулируются задачи на данный спринт, в конце – обсуждаются
          результаты, а команда начинает новый спринт. Спринты очень удобно
          сравнивать между собой, что позволяет управлять эффективностью
          работы.<br /><br />
          <b>Kanban</b> – это «подход баланса». Его задача – сбалансировать
          разных специалистов внутри команды и избежать ситуации, когда
          дизайнеры работают сутками, а разработчики жалуются на отсутствие
          новых задач.<br /><br />
          Вся команда едина – в kanban нет ролей владельца продукта и
          scrum-мастера. Бизнес-процесс делится не на универсальные спринты, а
          на стадии выполнения конкретных задач: «Планируется»,
          «Разрабатывается», «Тестируется», «Завершено» и др.<br /><br />
          Главный показатель эффективности в kanban – это среднее время
          прохождения задачи по доске. Задача прошла быстро – команда работала
          продуктивно и слаженно. Задача затянулась – надо думать, на каком
          этапе и почему возникли задержки и чью работу надо оптимизировать.
        </p>
      </div>
    </div>

    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- &lt; &nbsp; &gt; -->

    <footer id="footer" class="footer"></footer>
  </body>
</html>
