<!--cheatSheets_qa.html-->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../cheatSheets.css" />
    <title>Тестировщик</title>
    <link type="image/png" sizes="16x16" rel="icon" href="../images/icon.png" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="text/javascript" src="../js/jquery-3.6.3.min.js"></script>
    <script type="module" src="../js/main.js"></script>
  </head>
  <body>
    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <header id="header_pages" class="nav"></header>
    <!-- Шапка -->

    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- Список -->

    <div class="fon_content">
      <div class="con_content">
        <h2>Введение в профессию</h2>

        <p>
          <b>Разработка программного обеспечения</b> — сфера, которая будет в
          ближайшее время только расти, несмотря ни на эпидемию коронавируса, ни
          на экономический кризис. Соответственно, будет увеличиваться дефицит
          технических специальностей, связанных с информационными
          технологиями.<br /><br />

          Одна из них — инженер по качеству ПО. В тестировщиках нуждаются
          практически все компании, которые занимаются разработкой программного
          обеспечения, сервисов, мобильных приложений и игр.<br /><br />

          Почему бывает так, что программы работают неправильно? Программы
          разрабатываются и создаются людьми, которые допускают ошибки. Эти
          ошибки называются дефектами или багами.<br /><br />

          <b>Тестирование</b> – не изолированный процесс. Это часть модели
          жизненного цикла программного обеспечения.
        </p>
        <hr />

        <h2>Основные понятия</h2>

        <p>
          <b>Тестирование программного обеспечения</b> — проверка соответствия
          между реальным и ожидаемым поведением программы.<br /><br />

          <b>Качество ПО</b> – комплекс характеристик программного продукта,
          определяющих способность выполнять возложенные на него функции.<br /><br />

          <b>Баг (Дефект)</b> – это несоответствие фактического результата
          выполнения программы ожидаемому результату.<br /><br />

          <b>Баг-репорт</b> – это документ, описывающий ситуацию или
          последовательность действий, приведшую к некорректной работе объекта
          тестирования.<br /><br />

          <b>Требования</b> — это описание того, что должно быть реализовано.
          Требования описывают то, что необходимо реализовать, без детализации
          технической стороны решения.
        </p>
        <hr />

        <p>
          <b>Тестировщики или QA-инженеры</b> — это люди, которые проверяют, как
          работает программа или приложение. Они ищут ошибки, смотрят, чтобы
          программа делала именно то, что задумано, проверяют, как приложение
          работает на разных устройствах и в разных операционных системах.<br /><br />

          Тестировщик руководствуется технической документацией и здравым
          смыслом. Ведь он пытается посмотреть на приложение глазами
          пользователя. Обычно тестировщик занимается проверкой самой программы,
          её работоспособности и внешнего вида. Но порой к этим задачам
          прибавляется проверка и технических инструкций, баз данных,
          взаимодействие со сторонними сервисами.<br /><br />

          В своей работе тестировщик постоянно взаимодействует с другими
          тестировщиками, бизнес-аналитиками, разработчиками и дизайнерами.
        </p>
        <hr />

        <p>
          <b>Содержание работы тестировщика</b><br /><br />

          Типичная последовательность работы ручного функционального
          тестировщика выглядит примерно следующим образом:
        </p>

        <ul>
          <li>Изучить требования к разрабатываемому приложению.</li>
          <li>Написать тестовую документацию для проверки приложения.</li>
          <li>Провести тестирование.</li>
          <li>Сделать выводы по итогам проверки.</li>
          <li>
            Оформить найденные ошибки в баг-трекере и отправить их на
            исправление разработчику.
          </li>
        </ul>

        <p>
          <b>Какие личные качества необходимы тестировщику:</b>
        </p>

        <ul>
          <li>
            <b>Усидчивость и настойчивость</b> — чтобы терпеливо искать дефекты.
          </li>
          <li><b>Критическое мышление</b>, умение анализировать информацию.</li>
          <li>
            <b>Внимание к мелочам</b>, максимальная дотошность, чтобы постоянно
            интересоваться: «А что будет, если нажать сюда? А если ввести другой
            символ?»
          </li>
          <li>
            <b>Коммуникабельность</b> и умение работать в команде: тестировщику
            приходится постоянно взаимодействовать с разработчиками,
            дизайнерами, бизнес-аналитиками, представителями заказчика.
          </li>
          <li>
            <b>Терпение и самообладание</b>, потому что разработчики не слишком
            любят исправлять ошибки. Иногда тестировщику приходится не раз и не
            два напоминать о найденном баге.
          </li>
          <li>
            <b>Умение чётко формулировать свои мысли</b>, чтобы грамотно
            составлять планы и тест-кейсы. Если тестировщик нашёл ошибку, он
            должен подробно и понятно описать, при каких условиях она возникает,
            чтобы разработчики могли быстро её исправить.
          </li>
        </ul>
      </div>
    </div>

    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <footer id="footer_pages" class="footers"></footer>
    <!-- Подвал -->
  </body>
</html>
