<!--cheatSheets_test_documentation.html-->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Тестовая документация</title>
    <link type="image/png" sizes="16x16" rel="icon" href="../images/icon.png" />

    <link rel="stylesheet" href="../style.css" />

    <script type="text/javascript" src="../js/jquery-3.6.3.min.js"></script>
    <script type="module" src="../js/main.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>

    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- Список -->

    <div class="fon_content">
      <div class="con_content">
        <p>
          <b>Тест план</b> — это документ, описывающий весь объем работ по
          тестированию, начиная с описания объекта тестирования, стратегии,
          расписания, критериев начала и окончания тестирования. (Тест-план
          пишет тим-лид).<br /><br />

          Тест-план отвечает на следующие вопросы:<br /><br />
          1.<b>Что необходимо тестировать?</b><br />
          - Описание объекта тестирования: системы, приложения.<br /><br />
          2.<b>Что будем тестировать?</b><br />
          - Список функций и описание тестируемой системы или её компонентов в
          отдельности (форма регистрации, форма авторизации, чат, комментарий,
          лайк).<br /><br />
          3.<b>Как будем тестировать?</b><br />
          - Указываем те виды тестирования, которые будем использовать при
          тестировании.<br /><br />
          4.<b>Когда будем тестировать?</b><br />
          - Последовательность проведения работ: чтение технической
          документации(требований), создание тестовой документации,
          тестирование, анализ результатов тестирования, заведение
          баг-репортов.<br /><br />
          5.<b>Критерии начала тестирования.</b><br />
          - Готовность тестового стенда (сайта, на котором мы тестируем),
          наличие всей необходимой документации, законченность разработки
          требуемого функционала.<br /><br />
          6.<b>Критерии окончания тестирования.</b><br />
          - Весь функционал работает согласно заявленным требованиям.
        </p>
        <hr />

        <p>
          <b>Чек-лист</b> — это документ, описывающий что должно быть
          протестировано.<br />
          Как правило, чек-лист содержит только действия (шаги) т.е. то, что
          будем проверять (т.е. чек-лист — это список необходимых проверок).<br /><br />

          Например, есть форма авторизации:
        </p>

        <div class="con_img">
          <img src="../images/form.png" class="img" />
        </div>

        <p>
          В чек-листе мы укажем что проверим в этой форме:<br />
          - Иконку закрытия формы<br />
          - Поле электронная почта<br />
          - Поле пароль<br />
          - Ссылку "Напомнить пароль"<br />
          - Кнопку "Войти"<br />
          - Ссылку "Я в первый раз"<br />
        </p>
        <hr />

        <p>
          <b>Тест-кейс(тестовый сценарий)</b> — это документ, описывающий
          совокупность шагов, конкретных условий и параметров, необходимых для
          проверки реализации тестируемой функции или её части.<br /><br />

          <b>Тест-кейс состоит из 3-х частей:</b><br />
          <b>Предварительные условия</b> - что нужно сделать до проведения
          тестирования, например, протестировать только на устройстве Android,
          или только в браузере Safari. (Предварительные условия не являются
          обязательной частью).<br />
          <b>Шаги(Действия)</b> – последовательность действий, которые мы должны
          осуществить для проверки тестируемого функционала с целью убедиться,
          что всё работает согласно заявленным требованиям.<br />
          <b>Ожидаемый результат</b> - что должно получиться по результатам
          наших действий.<br /><br />

          Виды Тестовых Сценариев:<br />
          Тест-кейсы разделяются по ожидаемому результату на <b>позитивные</b> и
          <b>негативные</b>:<br /><br />

          • <b>Позитивный тест-кейс</b> использует только корректные данные и
          проверяет, что приложение работает согласно заявленным требованиям.<br />
          • <b>Негативный тест-кейс</b> оперирует как корректными так и
          некорректными данными (минимум 1 некорректный параметр) и проверяет,
          что вызываемая приложением функция не выполняется. (т.е. на примере
          формы авторизации vk.com когда мы вводим корректный логин и
          некорректный пароль нам выведется уведомление о том, что введены
          некорректные данные, т.е. осуществились проверки полей и сработал
          обработчик ошибок, который вывел уведомление о неправильном
          пароле).<br /><br />

          Сначала мы пишем позитивные тест-кейсы, чтобы убедиться, что
          функционал работает согласно заявленным требованиям, а затем создаём
          негативные тест-кейсы для того, чтобы убедиться в том, что, когда мы
          сделали что-то неправильно или ввели некорректные значения, у нас
          сработают обработчики ошибок и функция не выполнится.<br /><br />

          <b>Тест-кейс № 1.</b> Проверка функционала формы авторизации.<br />
          <b>Шаги:</b><br />
          - Зайти на сайт zdorovr.ru.<br />
          - В шапке сайта в правом верхнем углу нажать на кнопку "Войти".<br />
          - В появившейся форме авторизации в поле "Электронная почта" ввести
          значение<br />
          – sramotnik1@mail.ru.<br />
          - В поле "Пароль" ввести значение – Sramota1.<br />
          - Нажать на кнопку "Войти".<br />
          <b>Ожидаемый результат:</b><br />
          Отправится запрос на сервер, после которого в меню сайта появится
          пункт "Личный кабинет", при нажатии на который осуществится переход в
          профиль пользователя.<br /><br />

          <b>Тест-кейс № 2.</b> Проверка формы авторизации без ввода логина и
          пароля.<br />
          <b>Шаги:</b><br />
          - Зайти на сайт zdorovr.ru.<br />
          - В шапке сайта в правом верхнем углу нажать на кнопку "Войти".<br />
          - Оставить пустыми поля логин и пароль<br />
          - Нажать на кнопку "Войти".<br />
          <b>Ожидаемый результат:</b><br />
          Поля "Электронная почта" и "Пароль" подсветятся красным цветом с
          подсказкой, в которой будет указано, что поля являются обязательными
          для заполнения.<br /><br />

          <b>Отличия чек-листов от тест-кейсов</b><br />
          Чек-лист менее детализирован чем тестовый сценарий. Его уместно
          использовать тогда, когда тестовые сценарии будут избыточны.
          (Например, проверить функционал лайка, кол-ва просмотров записи на
          стене, функционал репоста).
        </p>
        <hr />

        <p>
          <b>Баг Репорт</b> — это документ, описывающий ситуацию или
          последовательность действий, приведшую к некорректной работе объекта
          тестирования, с указанием причин и ожидаемого результата.<br /><br />

          Основные составляющие баг-репорта<br />
          (обязательно спросят на собеседовании, их интересует что ты скажешь
          про приоритет и серьёзность)<br /><br />

          <b>Короткое описание(Заголовок)</b> - короткое описание проблемы, явно
          указывающее на причину и тип ошибочной ситуации. (Пишется кратко и
          лаконично. Т.е. что, где поломалось. Например, в форме авторизации не
          работает кнопка "Войти").<br />
          <b>Описание</b> - в описании указываем
          <b
            >предварительные условия, шаги, ожидаемый и фактический
            результаты</b
          >. (Ожидаемый результат — это то, что должны были получить по
          требованиям, фактический — это то, что получили по итогу, т.е. то что
          сделал разработчик.)<br />
          <b>Проект</b> - название тестируемого проекта (если вы работаете в
          команде, у которой много проектов, то нужно указывать в каком проекте
          произошла ошибка, если проект одни, то он будет выбран по
          умолчанию).<br />
          <b>Статус</b> - статус бага. На какой стадии жизненного цикла бага
          находится дефект (смотри первый урок).<br />
          <b>Автор</b> - создатель баг репорта.<br />
          <b>Исполнитель</b> - сотрудник, назначенного на решение проблемы.<br />
          <b>Прикрепленные файлы</b> - скриншот или любой другой документ,
          который может помочь прояснить причину ошибки или указать на способ
          решения проблемы.<br />
          <b>Серьезность(Severity)</b> - влияние дефекта на работоспособность
          (т.е. насколько дефект влияет на работу приложения). Выставляется
          тестировщиком.<br />
          • Блокирующий (Blocker)<br />
          • Критический (Critical)<br />
          • Значительный (Major)<br />
          • Незначительный (Minor)<br />
          • Тривиальный (Trivial)<br />
          <b>Приоритет(Priority)</b> - очерёдность выполнения бага. Выставляется
          тимлидом отдела тестирования. Чем выше приоритет, тем быстрее нужно
          исправить дефект.<br />
          Приоритет дефекта:<br />
          • Высокий (High)<br />
          • Средний (Medium)<br />
          • Низкий (Low)<br /><br />

          Градация Серьезности дефекта:<br />
          <b>Блокирующая(Blocker)</b><br />
          Дефект полностью блокирует выполнение функционала, нет никакого
          способа его обойти. (Мы открыли форму авторизации, заполнили все поля,
          нажали на кнопку "Войти" и ничего не происходит. На сайте есть только
          одна форма авторизации и мы не можем другим никаким другим способом
          войти в профиль.)<br />
          <b>Критическая(Critical)</b><br />
          Дефект блокирует часть функциональности, но есть альтернативный путь
          для его обхода. (Мы заполнили форму регистрации, нажали на кнопку
          "Зарегистрироваться" и ничего не происходит. Таким образом мы не можем
          зарегистрироваться, но есть кнопка "Зарегистрироваться через
          социальные сети", при нажатии на которую мы можем выбрать соцсеть,
          через которую можно создать профиль. Например, через Google-аккаунт,
          или через профиль в Instagram).<br />
          <b>Значительная(Major)</b><br />
          Дефект, указывающий на некорректную работу части функциональности.
          Существует более одной способа реализации функционала. Наиболее часто
          встречаются дефекты, которые можно отнести именно к этому уровню
          серьезности. (Например, на главной странице сайта есть форма для
          получения кредита и она не работает, но заявку на кредит можно
          заполнить в личном кабинете, во вкладке "Кредиты", во вкладке "Особые
          предложения" и т.п.)<br />
          <b>Незначительная(Minor)</b><br />
          Дефект, не относящийся к функциональности системы. Такая серьезность
          проставляется для дефектов, которые относятся к удобству использования
          или интерфейсу. (Текст выходит за рамки блока, слипающиеся кнопки,
          съехавшая иконка, картинка выезжает за пределы блока).<br />
          <b>Тривиальная(Trivial)</b><br />
          Обычно это грамматические, орфографические и пунктуационные
          дефекты.<br /><br />

          Градация Приоритета дефекта<br />
          <b>Высокий</b><br />
          Требуется исправить в первую очередь.<br />
          <b>Средний</b><br />
          Требуется исправить во вторую очередь, когда нет дефектов с высоким
          приоритетом.<br />
          <b>Низкий</b><br />
          Исправляется в последнюю очередь, когда все дефекты с более высоким
          приоритетом уже исправлены.<br /><br />

          Как правило, <b>чем выше серьёзность, тем выше приоритет</b>.<br />
          Пример дефекта с <b>низкой серьёзностью и высоким приоритетом</b>:
          ошибка в названии компании, неправильный логотип компании,
          непристойные материалы на сайте, ошибки на главной странице
          сайта.(Т.е. на работу сайта эти дефекты никак не влияют, но исправить
          их нужно немедленно).<br />
          Пример дефекта с <b>высокой серьёзностью, но низким приоритетом</b>:
          ошибки в функционале, который будет разработан и выпущен в будущем, но
          реализуется сейчас, например, компания разрабатывает программное
          обеспечение по бухгалтерскому учёту. Сейчас идёт 3-й квартал, но
          разработчик уже делает функционал годового отчёта, но в нём есть
          критические баги. Но так как годовой отчёт нужен будет только через
          полгода (т.к. годовую отчётность публикуют по итогам года, а сейчас
          идёт 3-й квартал), то проблема в этом функционале на данный момент
          времени не приоритетна.
        </p>
      </div>
    </div>

    <footer id="footer" class="footer"></footer>
  </body>
</html>
