<!--cheatSheets_html.html-->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Html</title>
    <link type="image/png" sizes="16x16" rel="icon" href="../images/icon.png" />

    <link rel="stylesheet" href="../style.css" />

    <script type="text/javascript" src="../js/jquery-3.6.3.min.js"></script>
    <script type="module" src="../js/main.js"></script>
  </head>
  <body>
    <header id="header" class="header"></header>
    <!-- &lt; &nbsp; &gt; -->
    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- Список -->

    <div class="fon_content">
      <div class="con_content">
        <ul>
          Основы:
          <li><b>Html</b> - язык гипертекстовой разметки.</li>
          <li>
            <b>index.html</b> - корневой файл, должен находиться в корневой
            папке.
          </li>
          <li>
            Для создания базовой разметки в пустом файле, нужно поставить
            <b>!</b> и нажать <b>TAB</b>
          </li>
          <li>
            <b>Тег</b> - элемент гипертекстовой разметки(пишется в фигурных
            скобках). Бывают парные и одиночные.
          </li>
          <li>
            Базовая разметка:<br />
            &lt;!DOCTYPE html&gt; - версия html<br />
            &lt;html lang="ru"&gt; - тег обертка<br />
            &nbsp;&nbsp;&lt;head&gt; - содержит данные о файле<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;meta charset="UTF-8" /&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;title&gt;Document&lt;/title&gt;<br />
            &nbsp;&nbsp;&lt;/head&gt;<br />
            &nbsp;&nbsp;&lt;body&gt; - содержит разметку документа<br />
            &nbsp;&nbsp;&lt;/body&gt;<br />
            &lt;/html&gt;
          </li>
        </ul>

        <ul>
          head
          <li>&lt;meta charset="UTF-8" /&gt; - кодировка<br /></li>
          <li>&lt;title&gt;Заголовок(название страницы)&lt;/title&gt;</li>
          <li>
            &lt;link type="тип" sizes="размер" rel="описание" href="путь" /&gt;
            - подключение иконки(основные форматы: .ico, .png)<br />
          </li>
          <li>
            &lt;rel="apple-touch-icon" href="путь" /&gt;<br />
            &lt;rel="apple-touch-icon" sizes="72x72" href="путь" /&gt;<br />
            &lt;rel="apple-touch-icon" sizes="114x114" href="путь" /&gt;<br />
            - улученное подключение иконки<br />
          </li>
          <li>
            SEO
            <ul>
              <li>
                &lt;meta name="description" content="описание контента"&gt;
              </li>
              <li>&lt;meta name="keywords" content="ключевые слова"&gt;</li>
              <li>&lt;meta name="author" content="автор"&gt;</li>
            </ul>
          </li>
          <li>
            &lt;meta name="viewport" content="width=device-width,
            initial-scale=1.0" /&gt; - альтернативный дизайн
          </li>
          <li>
            &lt;meta name="viewport" content="width=device-width,
            initial-scale=1.0" user-scalable="no" /&gt; - альтернативный дизайн
            с запретом зума
          </li>
          <li>
            &lt;meta http-equiv="X-UA-Compatible" content="IE=7"&gt; - открывает
            страницу в последней версии браузера(в современных версиях не нужен,
            не поддерживается)
          </li>
          <li>
            &lt;link rel="stylesheet" href="путь"&gt; - подключение css(внешние
            таблицы стилей) или локальных(выкачанных) шрифтов, можно подключить
            шрифт ссылкой указав к ней путь
          </li>
          <li>&lt;style&gt;&lt;/style&gt; - подключение стилей внутри тега</li>
        </ul>

        <ul>
          body
          <li>
            пример: &lt;!--[if IE]&gt;<br />
            &nbsp;&nbsp;&lt;p&gt; комментарий 1&lt;/p&gt;<br />
            &lt;![end if]--&gt;<br />
            &lt;!--[if it IE 10]&gt;<br />
            &nbsp;&nbsp;&lt;p&gt; комментарий 2&lt;/p&gt;<br />
            &lt;![end if]--&gt;<br />
            - условные комментарии: в примере будет выведен на сайт 1й, если
            сайт открыли в IE, а 2й, если открыли в IE ниже 10й версии.<br />
            В такие условия можно оборачивать и скрипты.
          </li>
          <li>
            <ul>
              скрипты подключаются в конце страницы, перед закрытием body
              <li>
                &lt;script src="путь до файла со скриптами"&gt;&lt;/script&gt; -
                подключаем файл со скриптами
              </li>
              <li>
                &lt;style&gt;<br />
                &nbsp;&nbsp;console.log('Hello world')<br />
                &lt;/style&gt;<br />
                - подключаем скрипты в теге
              </li>
            </ul>
          </li>
        </ul>

        <h2>структура сайта</h2>
        <pre>
          WebSite
          >index.html 
          >style.css 
          >script.js 
        </pre>

        <h2>Семантика</h2>
        <p>
          <b>Семантика</b> - это когда, что то выглядит тем, чем является на
          самом деле.
        </p>
        <p>
          <b>W3C</b> - консорциум всемирной паутины. На сайте есть валидатор
          html, туда можно вставить файл или код разметки.
        </p>

        <p><b>блочный элемент</b> - занимает всю ширину экрана</p>
        <p><b>строчный элемент</b> - подстраивается под контент</p>

        <h2>структура кода</h2>
        <pre>
          header - шапка
            >nav - навигация
          main
            >article - новость
              >section - секция
            >aside - сайтбар
          footer - подвал
        </pre>
        <p>
          accessibility(доступность) - работает, если на сайте семантические
          теги.
        </p>

        <h2>Теги</h2>
        <p>
          от <b>h1</b> до <b>h6</b> - заголовки. <b>h1</b> - должен быть один на
          странице он самый важный.<br />
          <b>hr</b> - разделитель<br />
          <b>p</b> - параграф (красная строка - &lt;p style="text-indent: 25px;"&gt;)<br />
          <b>br</b> - переход на следующую строчку<br />
          <b>address</b> - информация об авторе(может содержать другие теги)<br /><br />
          &lt;p&gt;&lt;/p&gt;<br />
          &lt;address&gt;&lt;/address&gt; - привязали текст к автору<br /><br />

          <b>q</b> - цитата<br />
          &lt;q&gt;<br />
          цитата<br />
          &lt;/q&gt;<br />
          &lt;address&gt;&lt;/address&gt; - связываем цитату с автором<br /><br />

          <b>blockquote</b> - большая цитата, можно не указывать автора, а
          использовать атрибут cite<br />
          &lt;blockquote cite="ссылка на источник"&gt;<br />
          &nbsp;&nbsp;&lt;p&gt;<br />
          &nbsp;&nbsp;&nbsp;&nbsp;большая цитата<br />
          &nbsp;&nbsp;&lt;/p&gt;<br />
          &lt;/blockquote&gt;<br />
          &lt;p&gt;это&lt;cite&gt;источник&lt;/cite&gt;&lt;/p&gt;<br /><br />

          <b>cite</b> - тег использующийся для выделения ссылки на источник в
          цитате.<br /><br />

          <b>&lt;time&gt;1989-01-26&lt;/time&gt;</b> - время<br /><br />

          <b>&lt;time datetime="1989-01-26"&gt;My Birthday&lt;/time&gt;</b> -
          время внутри тега(служебный характер, для считывания даты, сама она не
          отображается).<br /><br />

          &lt;b&gt;жирный&lt;/b&gt;<br /><br />

          &lt;i&gt;курсивный&lt;/i&gt;<br /><br />

          &lt;tt&gt;машинописный&lt;/tt&gt;<br /><br />

          &lt;s&gt;зачеркнутый&lt;/s&gt;<br /><br />

          &lt;strong&gt;жирный семантический&lt;/strong&gt;<br /><br />

          &lt;em&gt;курсивный семантический&lt;/em&gt;<br /><br />

          &lt;code&gt;"код"&lt;/code&gt; - отображение для кусков кода<br /><br />

          &lt;pre&gt;<br />
          &nbsp;&nbsp;&lt;code&gt;"код"&lt;/code&gt; - отображение для кусков
          кода<br />
          &lt;/pre&gt;<br /><br />

          &lt;big&gt;увеличение семантический&lt;/big&gt;<br /><br />

          &lt;small&gt;уменьшение семантический&lt;/small&gt;<br /><br />

          &lt;del&gt;зачеркивается семантический&lt;/del&gt;<br /><br />

          &lt;ins&gt;подчеркивается семантический&lt;/ins&gt;<br /><br />

          &lt;sub&gt;нижний индекс&lt;/sub&gt;<br /><br />

          &lt;sup&gt;верхний индекс&lt;/sup&gt;

          <h3>Списки</h3>
          &lt;ul&gt;<br />
          &nbsp;&nbsp;&lt;li&gt;маркированный список&lt;/li&gt;<br />
          &nbsp;&nbsp;&lt;li&gt;. --&lt;/li&gt;<br />
          &lt;/ul&gt;<br /><br />

          &lt;ol&gt;<br />
          &nbsp;&nbsp;&lt;li&gt;нумерованный список&lt;/li&gt;<br />
          &nbsp;&nbsp;&lt;li&gt;1 --&lt;/li&gt;<br />
          &lt;/ol&gt;<br /><br />
        </p>
        
        <h4>Атрибуты списков</h4>

        <p>
          style="list-style-type: none" - убирает маркер<br />
          style="list-style-type: disc" - маленький черный круг(по умолчанию)<br />
          style="list-style-type: circle" - пустой круг<br />
          style="list-style-type: square" - квадрат<br /><br />

          type="A" - в алфавитном порядке заглавными буквами<br />
          type="a" - в алфавитном порядке строчными буквами<br />
          type="I" - римскими цифрами в верхнем реестре<br />
          type="i" - римскими цифрами в нижнем реестре<br /><br />

          start="10" - число с которого начинается нумерованный список<br /><br />

          reversed - нумерация списка в обратном порядке<br /><br />

          любые списки можно вкладывать друг в друга - <b>вложенные списки</b>.
        </p>

        <h3>Список определений</h3>

        &lt;dl&gt;<br />
        &nbsp;&nbsp;&lt;dt&gt;термин&lt;/dt&gt;<br />
        &nbsp;&nbsp;&lt;dd&gt;определение&lt;/dd&gt;<br />
        &lt;/dl&gt;<br /><br />

        дефолтные маркеры - которые мы создаем сами(не стандартные иконки).

        <h2>Картинка</h2>

        &lt;img src="путь к картинке" alt="описание картинки, если она не высветилась"&gt;<br /><br />

        &lt;picture&gt;<br />
          &nbsp;&nbsp;&lt;source media="(min-width: 1024px)" srcset="путь/600/600"&gt;<br />
          &nbsp;&nbsp;&lt;source media="(min-width: 768px)" srcset="путь/300/300"&gt;<br />
          &nbsp;&nbsp;&lt;source media="(min-width: 360px)" srcset="путь/100/100"&gt;<br />
          &nbsp;&nbsp;&lt;img src="путь/300/300" alt="описание"&gt;<br />
        &lt;/picture&gt;<br /><br />

        &lt;figure&gt; - картинка с описанием<br />
          &nbsp;&nbsp;&lt;img src="путь" alt="описание"&gt;<br />
          &nbsp;&nbsp;&lt;figcaption&gt;подпись картинки&lt;/figcaption&gt;<br />
        &lt;/figure&gt;<br /><br />

        <ul>
          <li>с одним описанием, можно использовать несколько img</li>
          <li>в описание картинки можно вставлять разные теги</li>
        </ul>

        &lt;table&gt;<br />
          &nbsp;&nbsp;&lt;caption&gt;заголовок&lt;/caption&gt;<br />
          &nbsp;&nbsp;&lt;thead&gt; - одна или несколько строк, используется один раз<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt; - ряд<br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;th&gt;ячейка&lt;/th&gt; - будет выделен жирным<br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;th&gt;ячейка&lt;/th&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;<br />
          &nbsp;&nbsp;&lt;/thead&gt;<br />
          &nbsp;&nbsp;&lt;tbody&gt; - одна или несколько строк, используется сколько угодно(основной контент)<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;<br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;ячейка&lt;/td&gt;<br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;ячейка&lt;/td&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;<br />
          &nbsp;&nbsp;&lt;/tbody&gt;<br />
          &nbsp;&nbsp;&lt;tfoot&gt; - одна или несколько строк, используется один раз<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;<br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;ячейка&lt;/td&gt;<br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;ячейка&lt;/td&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;<br />
          &nbsp;&nbsp;&lt;/tfoot&gt;<br />
      &lt;/table&gt;

      <p>пустые ячейки нужно все равно рисовать или объединять, чтобы все не поплыло<br />
      атрибуты(чтобы не рисовать ячейки)<br />
      <b>colspan="2"</b> - объединяет ячейки по горизонтали<br />
      <b>rowspan="2"</b> - объединяет ячейки по вертикали</p>

      <h2>Ссылки и кнопки</h2>

      <p>
        <b>&lt;a href="путь"&gt;ссылка&lt;/a&gt;</b><br /><br />

        <b>&lt;a href="путь" download&gt;ссылка&lt;/a&gt;</b> - ссылка на загрузку файла(может не работать, 
        если в настройках браузера запрещена)<br />
        атрибут <b>target="_blank"</b> - открывает ссылку в новом окне.<br /><br />

        <b>&lt;a href="tel:телефон"&gt;телефон&lt;/a&gt;</b> - при нажатии дозвон<br /><br />

        <b>&lt;a href="mailto:емэил"&gt;емэил&lt;/a&gt;</b> - отправить письмо<br /><br />

        <b>&lt;a href="skype:skype"&gt;skype&lt;/a&gt;</b> - позвонить в skype<br /><br />

        ссылка якорь: &lt;a href="#bottom"&gt;go to bottom&lt;/a&gt;<br />
        &lt;p id="bottom"&gt;сюда при нажатии&lt;/p&gt;<br /><br />

        кнопка, в отличии от ссылки не самостоятельный элемент, на неё вешается логика
        или она идет в составе формы.<br /><br />

        &lt;button type="submit"&gt;кнопка&lt;/button&gt;<br />
        &lt;button type="reset"&gt;кнопка&lt;/button&gt; - идут в составе форм: submit отправляет форму,
        а reset ее очищает.<br /><br />

        &lt;button type="button" autofocus&gt;кнопка&lt;/button&gt; - с этим атрибутом при загрузке страницы,
        на кнопке будет стоять фокус, можно нажать на пробел для её активации.<br /><br />

        &lt;button type="button" disabled&gt;кнопка&lt;/button&gt; - блокирует нажатие на кнопку.<br /><br />
      </p>

      <p><em>если ссылке не задавать путь, то можно через класс в css задать 
        display(исчезновение или отображение) 
        при нажатии(к примеру сверстать крестик формы)</em></p><br />

      &lt;abbr title="HyperText Markup Language"&gt;HTML&lt;/abbr&gt; - аббревиатура<br /><br />

      &lt;input list="list"&gt; - текстовое поле привязанное к меню через id и list<br />
      &lt;datalist id="list"&gt;<br />
        &nbsp;&nbsp;&lt;option value="front-end"&gt;&lt;/option&gt;<br />
        &nbsp;&nbsp;&lt;option value="back-end"&gt;&lt;/option&gt;<br />
        &nbsp;&nbsp;&lt;option value="full-stack"&gt;&lt;/option&gt;<br />
      &lt;/datalist&gt; - всплывающее меню выбора<br /><br />

      &lt;meter value="80" max="100" low="10" high="60"&gt;Полоса прогресса&lt;/meter&gt; - полоса прогресса<br />

      value - прогресс заполнения<br />
      max и min - максимальное и минимальное значение<br />
      low и high - пределы высокого и низкого значения(влияют на закрашивание)<br />
      бывает ещё тег на оптимальное значение<br /><br />

      &lt;progress value="80" max="100"&gt;&lt;/progress&gt; - другой вид полосы прогресса(её чаще используют, чтоб
      показать прогресс прогрузки со стороны семантики)<br /><br />

      &lt;noscript&gt;Контейнер показывает содержимое,
       если в браузере отключен javascript или он вообще не поддерживается&lt;/noscript&gt;<br /><br />

      &lt;mark&gt;маркер выделяется цветом&lt;/mark&gt;<br /><br />

      &lt;canvas id="example" width="200" height="200"&gt;&lt;/canvas&gt; - холст для рисования

      <h2>Структура HTML5</h2>
      <p>Теги делятся на теги <em>расположения</em> и теги <em>содержания</em>.</p>

      <div class="con_content">
        <div class="con_img">
          <img src="../images/html5-структура.jpg" class="img" />
        </div>
      </div>

      <h2>Формы</h2>

      &lt;form action="файл отвечающий за отправку формы" name="имя формы" autocomplete="on(авто подстановка предзаполненных данных)"&gt;<br />
        &nbsp;&nbsp;&lt;fieldset&gt; - обводка по контуру<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;legend&gt;название формы&lt;/legend&gt;<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;label for="username"&gt;UserName&lt;/label&gt; - создает метку элементу формы и подписывает его<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" id="username"&gt; - текстовое пле однострочное<br />
          &nbsp;&nbsp;&nbsp;&nbsp;или так<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;label&gt;"Password"&lt;input type="password"&gt;&lt;/label&gt;<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;textarea rows="10" cols="25"&gt;&lt;/textarea&gt; - многострочное текстовое поле<br />
          &nbsp;&nbsp;&nbsp;&nbsp;атрибуты: name - имя<br />
          &nbsp;&nbsp;&nbsp;&nbsp;autofocus - автофокусировка<br />
          &nbsp;&nbsp;&nbsp;&nbsp;disabled - отключает<br />
          &nbsp;&nbsp;&nbsp;&nbsp;readonly - поле активно но данные изменить не получиться<br />
          &nbsp;&nbsp;&nbsp;&nbsp;placeholder - текст заменитель<br />
          &nbsp;&nbsp;&nbsp;&nbsp;maxlength - максимальное число вводимых символов<br />
          &nbsp;&nbsp;&nbsp;&nbsp;required - обязательное заполнение<br /><br />

          &nbsp;&nbsp;&nbsp;&nbsp;&lt;select&gt; - выпадающий список<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;option value="back-end"&gt;back-end&lt;/option&gt;<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;option value="front-end"&gt;front-end&lt;/option&gt;<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;/select&gt;<br /><br />

          &nbsp;&nbsp;&nbsp;&nbsp;&lt;select> - выпадающий список с лейблами<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;optgroup label="Speciality"&gt;&lt;/optgroup&gt;<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;optgroup label="Derection"&gt;&lt;/optgroup&gt;<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;/select&gt;<br /><br />

          &nbsp;&nbsp;&nbsp;&nbsp;атрибуты: multiple - позволяет выбрать несколько значений<br />
          &nbsp;&nbsp;&nbsp;&nbsp;disabled - блокирует выбор объединенных опций<br />
          &nbsp;&nbsp;&nbsp;&nbsp;label - добавляет лейбол для групп опций<br />
          &nbsp;&nbsp;&nbsp;&nbsp;value - значение опции<br /><br />

        &nbsp;&nbsp;&lt;/fieldset&gt;<br /> 
      &lt;/form&gt;<br /><br />

      <h2>inputs</h2>

      &lt;input type="text"&gt; - позволяет вводить любые символы<br />
      &lt;input type="number"&gt; - позволяет вводить числовые значения<br />
      атрибуты: min - минимальное значение<br />
      max - максимальное значение<br />
      step - шаг<br />

      &lt;input type="password"&gt; - позволяет вводить пароль, не отображает символы<br />
      &lt;input type="range"&gt; - полоска ранжирования<br />
      &lt;input type="date"&gt; - дата с выпадающим календарем по умолчанию, тоже min и max<br />
      &lt;input type="color"&gt; - поле для выбора цвета<br />
      &lt;input type="submit"&gt; - кнопка отправки<br />
      &lt;input type="reset"&gt; - кнопка сброса<br />
      атрибут value надпись на кнопке<br /><br />

      &lt;input type="text" list="list"&gt; - поле с выпадающим списком<br />
      &lt;datalist id="list"&gt;<br /><br />
      
      &lt;input type="email"&gt; - поле почты<br />
      &lt;input type="url"&gt; - поле для url<br />
      &lt;input type="image" src="путь" alt="картинка"&gt; - кнопка отправки в виде изображения<br />
      не все теги работают в различных браузерах, для проверки переходим на сайт can I use<br /><br />

      &lt;input type="tel"&gt; - поле телефона<br />
      &lt;input type="search"&gt; - поле поиск<br />
      &lt;input type="datetime-local"&gt; - локальные(формат вашего компьютера) дата и время<br />
      &lt;input type="month"&gt; - месяц<br />
      &lt;input type="time"&gt; - дата<br />
      &lt;input type="week"&gt; - неделя<br />
      
      &lt;input type="hidden" value="WebSite"&gt; - для передачи скрытых от пользователя скрытых технических данных<br />
      &lt;input type="file"&gt; - хранение и передача пользовательских файлов<br />
      атрибут multiple позволяет выделять и отправлять несколько файлов<br /><br />

      &lt;input type="checkbox" value="option" checked&gt; - чекбокс<br />
      &lt;input type="radio" value="option" name="value" checked&gt; - радио-кнопка<br />
      value - необязательный атрибут указывает на какой кнопке, таргет при загрузке страницы<br />
      name - должен быть у всех кнопок одинаковый<br />
      чтобы добавить подписи имен радио-кнопке и чекбоксу, нужно обернуть в label<br /><br />

      <h2>Аудио и видео</h2>

      <p>поддержка браузеров для аудио и видео файлов разная, нужно проверять</p>

      &lt;audio src="путь"&gt;<br />
        &nbsp;&nbsp;надпись высветиться, если формат файла не поддерживается<br />
      &lt;/audio&gt; - аудио<br /><br />

      &lt;video width="320" height="240"&gt;<br />
        &nbsp;&nbsp;&lt;source src="путь" type="video/ogg"&gt;<br /> - конвертация аудио и видео файлов если их несколько
        &nbsp;&nbsp;&lt;source src="путь" type="video/mp4"&gt;<br />
        &nbsp;&nbsp;надпись высветиться, если формат файла не поддерживается<br />
      &lt;/video&gt; - видео<br /><br />
      
      атрибуты: controls - помещает файл в нативный(встроенный) плэер.<br />
      loop - бесконечное воспроизведение.<br />
      autoplay - автоматическое воспроизведение.<br />
      muted - убирает по умолчанию звук файла, при загрузке страницы.<br />
      poster="путь" - адрес отображаемой картинки, пока видео недоступно.<br />
      preload - определяет, как конкретно аудио или видео файл будет загружен на страницу.<br />
      его значения: auto - видео грузится, автоматически и целиком, при загрузке страницы<br />
      metadata - само видео грузить не нужно, только служебную информацию(первый кадр, продолжительность, размер и тд.)<br />
      none - загрузка не требуется вообще.

      <h2>Универсальные атрибуты</h2>

      id - у одного элемента, только один уникальный id(лучше использовать для связи в javascript).<br />
      class - может быть несколько, прописывать через пробел, используется для CSS.<br />
      title - всплывающая подсказка, при наведении на тег.<br />
      style - CSS.<br />
      contenteditable="true" - позволяет редактировать текст, при обновлении страницы сбрасывается.<br />
      spellcheck="true" - проверка правописания.<br />
      hidden - скрывает содержимое элемента.<br />
      tabindex - для передвижения с помощью табуляции и установления по очередности табуляции.<br />
      dir="rtl" - направление текста в теге.<br />
      lang="en"
      </div>
    </div>

    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- &lt; &nbsp; &gt; -->

    <footer id="footer" class="footer"></footer>
  </body>
</html>
