/*header.css(Шапка)*/

.header {
    width: 100%; /*Устанавливает ширину содержимого элемента*/
    background: url(../images/nav2.png) center no-repeat; /*Установит фон элемента*/
    background-size: cover; /*Растянет фон по размеру контейнера*/
    top: 0; /*Вверх*/
    position: sticky; /*Фиксирует блок относительно экрана*/
    color: var(--while); /* Цвет текста */
} /*Тело шапка*/

.header-logo {
    margin: 10px;
}

.logo {
    width: 60px;
    border-radius: 50%;
}

.btn-logo {
    box-shadow: 0 0 7px rgba(255,255,255,.7);
    cursor: pointer;
    transition: 200ms;
}

.btn-logo:hover {
    box-shadow: 0 0 7px rgba(255,255,255,.9);
}

.btn-logo:active {
    box-shadow: 0 0 7px rgba(255,255,255,.5);
}
